* {
  box-sizing: border-box;
}

body {
  background-color: #34495e;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 80vh;
  margin: 0;
  overflow: hidden;
}

h1 {
  margin: 20px 0 0;
}

.game-container {
  padding: 20px 30px;
  position: relative;
  margin: auto;
  height: 350px;
  width: 450px;

  border: 1px dotted olivedrab;
}

/* Wrong letters - top right */
.wrong-letters-container {
  position: absolute;
  top: 20px;
  right: 20px;
  display: flex;
  flex-direction: column;
  text-align: right;

  /* border: 1px dotted olivedrab; */
}

.wrong-letters-container p {
  margin: 0 0 5px;
}

.wrong-letters-container span {
  font-size: 24px;
}

/* Word - bottom middle.  Each letter is in it's own div. */
.word {
  display: flex;
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);

  /* border: 1px dotted olivedrab; */
}

/* The main difference between display: flex and display: inline-flex is that display: inline-flex will make the flex container an inline element while it’s content maintains its flexbox properties. */
/* Note that each .letter div is it's own flex container */
/* Initially just div's with bottom line. */
.letter {
  border-bottom: 3px solid #2980b9;
  display: inline-flex;
  font-size: 30px;
  align-items: center;
  justify-content: center;
  margin: 0 3px;
  height: 50px;
  width: 20px;
}

/* Figure - <svg> properties */
.figure-container {
  fill: transparent;
  stroke: yellowgreen;
  stroke-width: 4px;
  stroke-linecap: round;
}

/* Person figure's body parts */
.figure-part {
  display: none;
}

/* Popup - modal */
.popup-container {
  background-color: rgba(0, 0, 0, 0.3);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  /* display: flex; */
  display: none;

  justify-content: center;
  align-items: center;
}

.popup {
  background: #2980b9;
  border-radius: 5px;
  box-shadow: 0 15px 10 3 rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: center;

  position: absolute;
  bottom: 10rem;
}

.popup button {
  cursor: pointer;
  background-color: #fff;
  color: #2980b9;
  border: 0;
  margin-top: 20px;
  padding: 12px 20px;
  font-size: 16px;
}

.popup button:active {
  transform: scale(0.98);
}

.popup button:focus {
  outline: 0;
}

/*  Notification - bottom */
.notification-container {
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 10px 10px 0 0;
  padding: 15px 20px;

  position: absolute;
  bottom: -50px;
  transition: transform 0.3sec ease-in-out;
}

.notification-container p {
  margin: 0;
}

.notification-container.show {
  transform: translateY(-50px);
}
